p {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', serif;
}

.divider {
  margin: 30px 0;
}

.section {
  padding: 40px 0;
}

#section-top {
/*  background: url('../img/background.jpg');*/
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  position: relative;
  z-index: 0;
}

#compclub-logo {
  width: 100%;
  max-width: 800px;
}

#elections-logo {
  margin-top: 30px;
  text-transform: uppercase;
  cursor: default;
}

#elections-logo p {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

#elections-logo .sixteenth {
  font-size: 20em;
  font-weight: 700;
  line-height: 0.85em;
  color: #228b22;
}

#elections-logo .number {
  font-size: 20em;
  font-weight: 700;
  line-height: 0.85em;
  color: #bd2640;
}

#elections-logo .mc {
  font-size: 3.65em;
  line-height: 0.85em;
  font-weight: bold;
  color: #3f6cb2;
}

#elections-logo .ge {
  font-size: 4.70em;
  line-height: 1em;
  font-weight: bold;
  color: #3f6cb2;
}

#elections-logo .lead {
  color: #efefef;
}

#menu {
  text-transform: uppercase;
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  padding: 0;
}

#menu li {
  float: left;
  display: inline-block;
  color: #3f6cb2;
}

#menu li a:link,
#menu li a:visited {
  color: #bd2640;
}

#menu li a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px #fff;

  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}

#menu li:hover {
  margin: 0 20px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;

  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
}

#menu li.divider {
  margin: 0 10px;
}

.section .container .title {
  color: #bd2640;
}

.section .container .subtitle {
  color: #3f6cb2;
}

.section .container {
  font-family: 'Roboto Condensed', sans-serif;
}

#section-about {
  background: url('../img/patterns/diamond_upholstery.png');
  /*background: #ffffff;*/
  /*color: #000000;*/
}

#section-about .mc-photo {
  float: right;
  max-width: 350px;
  border: solid 5px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 20px;

  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}

#section-positions .mc-structure {
  width: 100%;
  border: solid 5px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

#section-positions {
  color: #000000;
  background: #ffffff;
}

.struct-container {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 350px;
}

/* Style the buttons inside the tab */
.struct-container button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.struct-container button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.struct-container button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 350px;
}

#section-running {
  background: url('../img/patterns/geometry.png');
}

#section-nominees {
  background: url('../img/patterns/starring.png');
  color: #fafafa;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

#section-nominees .nominees-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#section-nominees .nominees-container .thumbnail {
  margin: 20px 20px 0 20px;
}

#section-nominees .nominees-container .thumbnail img {
  height: 300px;
  width: 300px;
  margin-bottom: 8px;
  object-fit: cover;
}

#section-nominees .nominees-container .thumbnail .caption > h3 {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

#link-nominees {
  text-align: center;
  font-weight: 700;
}

.nominee-wing {
  text-align: center;
  font-size: 1.6em;
}

.nominee-name {
  display: block;
  text-align: center;
}

.nominee-position {
  display: block;
  text-align: center;
}

#section-documents {
  background: url('../img/patterns/diamond_upholstery.png');
}

#section-questions {
  background: url(../img/patterns/diamond_upholstery.png);
}

@media (max-width: 768px) {
  .timeline-title, .subtitle {
    overflow-wrap: break-word;
  }

  .section {
    padding: 40px 20px;
  }

  #section-top {
    padding: 40px 20px;
  }

  #menu li {
    float: none;
    display: block;
  }

  #compclub-logo {
    width: 100%;
  }

  .mc-photo {
    width: 100%;
  }

  #elections-logo .sixteenth {
    font-size: 10em;
  }

  #elections-logo .number {
    font-size: 8em;
  }

  #elections-logo .mc {
    font-size: 2em;
  }

  #elections-logo .ge {
    font-size: 2.55em;
  }

  .text-right {
    text-align: left!important;
  }
}

@media(max-width: 768px) {
  #menu li.divider {
    display: none;
  }
}

@media(min-width: 769px) {
  #menu li.divider {
    display: inline;
  }
}

/* vim: set et ts=2 sw=2: */
